.formArea {
    background: #6b6b673d;
    border-radius: 7px;
    width: 550px;
    align-self: center;
    padding: 18px 24px;
}

.formArea button {
    padding: 8px;
    border-radius: 6px;
    background: #9999933d;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: white;
    box-shadow: inset 3px 4px 10px hsl(0 0% 0% / .32), inset -3px -4px 10px hsl(0 100% 100% / .12);
    margin-left: auto;
    cursor: pointer;
}
.MuiFormControl-root{
    background-color: #6b6b673d;
    border-radius: 8px;
}
#text{
    border: none;
    color: white;

}
.formArea form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
